asgiref==3.8.1
astroid==3.2.4
dill==0.3.8
Django==3.2.3
django-cors-headers==3.13.0
django-stubs==5.0.2
django-stubs-ext==5.0.2
django-types==0.19.1
djangorestframework==3.12.4
flake8==6.0.0
flake8-isort==6.0.0
isort==5.13.2
mccabe==0.7.0
platformdirs==4.2.2
psycopg2-binary==2.9.3
pycodestyle==2.10.0
pyflakes==3.0.1
pylint==3.2.6
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pytz==2024.1
sqlparse==0.5.1
tomli==2.0.1
tomlkit==0.13.0
types-psycopg2==2.9.21.20240417
types-PyYAML==6.0.12.20240724
typing_extensions==4.12.2
